<div class="jumbotron">
  <h2 style="margin-bottom: 50px;">Push GitLab events to Slack</h2>
  Events
  <ul>
    <li>Push</li>
    <li>Tag</li>
    <li>Issue</li>
    <li>Merge Request</li>
  </ul>
</div>
